<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/public/css/style.css"> <!-- Include your CSS file here -->
</head>
<body>
  <header>
    
  </header>

  <main>
    <h2>Tech Blog!</h2>
    
    {{#if user}} 
      {{#each posts as |post|}}
        <section style="background-color: aquamarine; padding: 10px; border: 1px solid black; margin-bottom: 10px;">
          {{post.name}}
          {{post.description}}
        </section>
      {{/each}}
    {{else}}
      <p>Please log in to view posts.</p>
    {{/if}}
  </main>

  {{#if HomePage}} 
    <footer>
      <button id="new-post-btn">New Post</button>
    </footer>
  {{/if}}

  {{#if notHomePage}}
  <button id="signup-btn">Sign Up</button>
{{/if}}


  <script src="/public/js/script.js"></script> 
</body>
</html>
